##### Output parameters ##############

Statistics 			= true
DumpProgressToConsole 		= true
Logging				= false
DisplayAsVSErrorMsg 		= false
DumpSummariesAsGraphs 		= false
DumpIR 				= false
DumpWholeProgramCallGraph	= false
WholeProgramCallgraphFilename 	= wholeprogramcg.txt

#### Output filenames ################

reportFilename 		= Purity-Report.dat
outputFilenameSuffix	= -checker-output.txt
statsFilenameSuffix 	= -checker-stats.txt
unaCallsFilenameSuffix  = -unanalyzable-calls.txt
chaCGFilenameSuffix 	= -cha-call-graph.dgml
finalCGFilenameSuffix 	= -final-call-graph.dgml
logfileSuffix 		= -checker.log


#### Serialization flags ##########

WitnessSerialization 	= false
SummarySerialization 	= true

#### Analysis flags ##############

CheckOnlyUserMethods 		= false
FlowSensitivity 		= true
DisableExternalCallResolution   = false
DisableSummaryReduce 		= false
BoundContextString 		= false
ContextBound 			= 0

#### Input files ##############

AppPath				= C:\sd\codebox\speculation\SafetyAnalysis\trunk\DependencyAnalysis\Debug
BenignSideEffectsFilename 	= BenignSideEffects.txt
StubMappingFilename	  	= StubMapping.txt
VCallsStubMappingFilename	= ScopeCallStubMapping.txt
DB				= FILE
ClearDBContents			= true
DBFilename			= PurityDB-full-context-.NET4.sdf

#### Debug flags ##############

TrackUnanalyzableCalls 		= false
TraceSkippedCallResolution 	= false
TraceSummaryApplication 	= false        