##### Output parameters ##############

Statistics 			= true
DumpProgressToConsole 		= true
Logging				= false
DisplayAsVSErrorMsg 		= true
DumpSummariesAsGraphs 		= false
DumpWholeProgramCallGraph	= false


#### Output filenames ################

reportFilename 		= Purity-Report.dat
outputFilenameSuffix	= -checker-output.txt
statsFilenameSuffix 	= -checker-stats.txt
unaCallsFilenameSuffix  = -unanalyzable-calls.txt
chaCGFilenameSuffix 	= -cha-call-graph.dgml
finalCGFilenameSuffix 	= -final-call-graph.dgml
logfileSuffix 		= -checker.log


#### Serialization flags ##########

WitnessSerialization 	= false
SummarySerialization 	= true

#### Analysis flags ##############

CheckOnlyUserMethods 		= false
FlowSensitivity 		= false
DisableExternalCallResolution   = false
DisableSummaryReduce 		= false
BoundContextString 		= true
ContextBound 			= 0

#### Input files ##############

AppPath				= C:\sd\codebox\speculation\SafetyAnalysis\trunk\SafetyAnalysisWithCB\Debug
BenignSideEffectsFilename 	= BenignSideEffects.txt
StubMappingFilename	  	= StubMapping.txt
DB				= FILE
ClearDBContents			= false
DBFilename			= PurityDB-no-context.sdf
Analyzelist 			= C:\sd\codebox\speculation\SafetyAnalysis\trunk\SafetyAnalysisWithCB\Configs\analyzable-list\system.core-analyzable-list.txt


#### Debug flags ##############

TrackUnanalyzableCalls 		= false
TraceSkippedCallResolution 	= false
TraceSummaryApplication 	= false        