##### Output parameters ##############

Statistics 			= false
DumpProgressToConsole 		= true
Logging				= false
DisplayAsVSErrorMsg 		= true
DumpIR				= false
DumpSummariesAsGraphs 		= false
DumpWholeProgramCallGraph	= false
DisableAllClients		= false

#### Output filenames ################

reportFilename 		= Purity-Report.dat
unaCallsFilenameSuffix  = -unanalyzable-calls.txt

#### Serialization flags ##########

WitnessSerialization 	= false
SummarySerialization 	= false

#### Analysis flags ##############

CheckOnlyUserMethods 		= false
FlowSensitivity 		= true
DisableExternalCallResolution   = false
DisableSummaryReduce 		= false
BoundContextString 		= true
ContextBound 			= 0

#### Input file (paths are relative to $SEALHOME) ############## 


BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
ClearDBContents			= false
DBFilename			= DBs\PurityDB-full-context-.NET4.sdf

#### Debug flags ##############

TrackUnanalyzableCalls 		= false
TraceSkippedCallResolution 	= false
TraceSummaryApplication 	= false