##### Output parameters ##############

DumpProgressToConsole 		= true
DumpIR				= false
DisplayAsVSErrorMsg 		= true
DumpSummariesAsGraphs 		= false
DumpWholeProgramCallGraph	= true
DisableAllClients		= false

#### Output filenames ################

reportFilename 		= Purity-Report.dat
unaCallsFilenameSuffix  = -unanalyzable-calls.txt
wholeProgramCallGraphFilename = 
outputFilenameSuffix	= -checker-output.txt
statsFilenameSuffix 	= -checker-stats.txt
chaCGFilenameSuffix 	= -cha-call-graph.dgml
finalCGFilenameSuffix 	= -final-call-graph.dgml
logfileSuffix 		= -checker.log
#### Serialization flags ##########

WitnessSerialization 	= false
SummarySerialization 	= false

#### Analysis flags ##############

FlowSensitivity 		= true
BoundContextString 		= true
ContextBound 			= 1

#### Input file (paths are relative to $SEALHOME) ############## 

BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
ClearDBContents			= false
DBFilename			= DBs\PurityDB-full-context-.NET4.sdf