##### Output parameters ##############

DisableAllClients	= true

#### Serialization flags ##########

SummarySerialization 	= true

#### Analysis flags ##############

FlowSensitivity 	= true

#### Input files ##############

BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
DBFilename			= DBs\PurityDB-full-context-.NET4.sdf
Analyzelist 			= Configs\analyzable-list\system-analyzable-list.txt