##### Output parameters ##############

Statistics 			= false
DumpProgressToConsole 		= true
Logging				= false
DisplayAsVSErrorMsg 		= false
DumpIR				= false
DumpSummariesAsGraphs 		= true
DumpWholeProgramCallGraph	= false
DisableAllClients		= false

#### Output filenames ################

reportFilename 		= Purity-Report.dat
unaCallsFilenameSuffix  = -unanalyzable-calls.txt

#### Serialization flags ##########

WitnessSerialization 	= false
SummarySerialization 	= true

#### Analysis flags ##############

CheckOnlyUserMethods 		= false
FlowSensitivity 		= true
DisableExternalCallResolution   = false
DisableSummaryReduce 		= false
BoundContextString 		= false
ContextBound 			= 0

#### Input files ##############

BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
DBFilename			= DBs\PurityDB-full-context-.NET4.sdf
Analyzelist 			= Configs\analyzable-list\system.core-analyzable-list.txt