#### Output filenames ################

reportFilename 		= Purity-Report.dat

#### Serialization flags ##########

WitnessSerialization 	= true

#### Analysis flags ##############

FlowSensitivity 	= true

#### Input files ##############

BenignSideEffectsFilename 	= Checker\BenignSideEffects.txt
StubMappingFilename	  	= Checker\StubMapping.txt
DB				= FILE
DBFilename			= DBs\PurityDB-full-context-.NET4.sdf