<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SafetyAnalysis.Purity.Properties.Settings.summarydbConnectionString"
            connectionString="Data Source=|DataDirectory|\summarydb.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="SafetyAnalysis.Purity.Properties.Settings.purityConnectionString"
            connectionString="Data Source=rse-spec-vs2008\SQLEXPRESS;Initial Catalog=purity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SafetyAnalysis.Purity.Properties.Settings.PurityDBConnectionString"
            connectionString="Data Source=ei91gplm47.database.windows.net;Initial Catalog=PurityDB;User ID=cscale;Password=Cadmin123!"
            providerName="System.Data.SqlClient" />
        <add name="SafetyAnalysis.Purity.Properties.Settings.CloudDBConnectionString"
            connectionString="Data Source=ei91gplm47.database.windows.net;Initial Catalog=PurityDB;User ID=cscale"
            providerName="System.Data.SqlClient" />
        <add name="SafetyAnalysis.Purity.Properties.Settings.purityDBConnectionString1"
            connectionString="Data Source=rse-server-8;Initial Catalog=purityDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SafetyAnalysis.Purity.Properties.Settings.ClientpurityDBConnectionString"
            connectionString="Data Source=|DataDirectory|\purityDB.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>